################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/functions/__pycache__
/.vs/eternity/FileContentIndex
/.vs/eternity/v17/.wsuo
/.vs
